* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    color: white;
}

nav {
    height: 80px;
    border: 2px white;
    background-color: black;
    color: white;

}

.nav-logo {
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-logo img {
    height: 50px;
    margin-top: 20px;
    margin-left: 5px;
    padding-bottom: 10px;

}

form>input {
    width: 450px;
    height: 30px;
    margin-left: 20px;
    background-color: ghostwhite
}

search {
    display: flex;
    text-align: center;
    align-items: center;
    color: black;
    background-color: rgb(238, 238, 77);
    height: 29px;
    width: 30px;
    border-radius: 5px;
}

search:hover {
    background-color: red;

    border: 2px black;

}

ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin-left: 100px;
}

li {
    list-style: none;
    height: 40px;
    width: 80px;
    margin-left: 80px;
    padding: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 20px;

}

.a {
    margin-left: 60px;
}

ul>li:hover {
    border: 2px solid black;
    color: blue;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.body {
    display: flex;

    border-radius: 10px;
    margin-top: 30px;
}

.box {
    height: 600px;
    width: 450px;
    border: 2px solid white;
    margin: 15px;
    padding: 20px;
    background-color: rgb(159, 224, 224);
    color: black;
    border-radius: 10px;

}

.box img {
    height: 400px;
    width: 400px;
    gap: 15px;

}

.box>p {
    padding: 5px;
}

.box>h3 {
    margin-left: 350px;
    margin-top: 40px;

}

.box>h3:hover {
    background-color: yellow;
    color: black;
    border-radius: 5px;
}

.container {
    display: flex;

    border-radius: 10px;
    color: black;
    margin-top: 20px;
}

.box-2 {
    background-color: white;
    height: 600px;
    width: 400px;
    margin: 37px;
    border-radius: 10px;
}

.box-2 img {
    width: 390px;
    height: 450px;
    padding: 10px;
}

.box-2>p {
    padding: 7px;
    font-size: 25px;
    flex-direction: column;
}

.box-2>h3 {
    margin-left: 340px;
    margin-top: 10px;
}

.box-2>h3:hover {
    background-color: yellow;
    color: black;
    border-radius: 5px;
}

.container-2 {
    display: flex;

    border-radius: 10px;
    color: black;
    margin-top: 20px;
}

.box-3 {
    height: 600px;
    width: 450px;
    margin-left: 120px;
    border: 2px solid white;
    padding: 20px;
    background-color: rgb(194, 223, 223);
    border-radius: 10px;


}

.box-3 img {
    height: 400px;
    width: 400px;
}

.box-3 img:hover {
    border: 5px solid black;
}

.box-3>p {
    font-size: 30PX;
    flex-direction: column;
}

.box-3>h3 {
    margin-left: 320px;
    margin-top: 40PX;
}

.box-3>h3:hover {
    background-color: yellow;
    color: black;
    border-radius: 5px;
}

.container-3 {
    display: flex;
    margin-top: 20px;
}

.box-4 {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: ghostwhite;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.box-4 img {
    height: 300px;
    width: 300px;
    gap: 5px;
    padding: 10px 10px 10px 10px;
    background-color: white;
}

.box-4 img:hover {
    height: 310px;
     width: 305px;
    background-color: bisque;
}

.ftr {

    color: black;
}

h1 {
    text-align: center;
    padding: 20px;
}

button {
    width: 150px;
    height: 30px;
    font-size: 20px;
     background-color: rgb(69, 69, 236);
    border-radius: 10px;
    margin-left: 750px;
}

button:hover {
    border: 2px solid white;
}

.ftr-1 {
    display: flex;
    margin-left: 600px;
}

h4 {
    gap: 40px;
    padding: 20px;
}

@media (max-width: 400px) {

 nav {
        height: auto;
        padding: 10px;
    }

 .nav-logo {
        flex-direction: column;
        gap: 10px;
    }

 .nav-logo img {
        height: 40px;
        margin: 0;
    }

 form>input {
        width: 100%;
         margin: 10px 0;
        height: 28px;
    }

 search {
        width: 100%;
         justify-content: center;
        margin-top: 5px;
    }

 ul {
        flex-direction: column;
        gap: 10px;
        margin-left: 0;
    }

 li {
        width: 100%;
         margin-left: 0;
        justify-content: center;
        font-size: 16px;
    }

 .body {
         flex-direction: column;
        align-items: center;
    }

    .container {
      flex-direction: column;
        align-items: center;
    }

 .container-2 {
        flex-direction: column;
        align-items: center;
    }

 .container-3 {
        flex-direction: column;
        align-items: center;
    }

 .box {
        width: 95%;
         height: auto;
        margin: 10px 0;
    }

 .box-2 {
        width: 95%;
         height: auto;
        margin: 10px 0;
    }

  .box-3 {
        width: 95%;
        height: auto;
        margin: 10px 0;
    }

 .box img {
     width: 100%;
        height: auto;
    }

 .box-2 img {
        width: 100%;
        height: auto;
    }

 .box-3 img {
        width: 100%;
         height: auto;
    }

  .box>p {
        font-size: 16px;
    }

 .box-2>p {
        font-size: 16px;
    }

 .box-3>p {
        font-size: 16px;
    }

 .box>h3 {
         margin-left: auto;
        font-size: 16px;
    }

 .box-2>h3 {
        margin-left: auto;
        font-size: 16px;
    }

 .box-3>h3 {
        margin-left: auto;
        font-size: 16px;
    }

 .box-4 {
        width: 95%;
         height: auto;
        margin: 10px 0;
    }

 .box-4 img {
        width: 100%;
        height: auto;
    }

 button {
        width: 120px;
        height: 28px;
        font-size: 16px;
        margin: 15px auto;
        display: block;
    }

 .ftr-1 {
         flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

 h1 {
        font-size: 22px;
    }

 h4 {
        font-size: 14px;
         padding: 10px;
        text-align: center;
    }
}

@media (max-width: 576px) {


 nav {
        height: auto;
        padding: 10px;
    }

 .nav-logo {
        flex-direction: column;
        gap: 10px;
    }

 .nav-logo img {
        margin: 0;
        height: 40px;
    }

 form>input {
     width: 100%;
        margin-left: 0;
    }

 ul {
        flex-direction: column;
         margin-left: 0;
        gap: 10px;
    }

 li {
        width: 100%;
        margin-left: 0;
         justify-content: center;
        font-size: 16px;
    }


 .body {
        flex-direction: column;
        align-items: center;
    }

 .container {
         flex-direction: column;
        align-items: center;
    }

 .container-2 {
        flex-direction: column;
        align-items: center;
    }

 .container-3 {
        flex-direction: column;
        align-items: center;
    }

 .box {
        width: 95%;
        height: auto;
         margin: 10px 0;
        padding: 15px;
    }

 .box-2 {
        width: 95%;
        height: auto;
        margin: 10px 0;
        padding: 15px;
    }

 .box-3 {
        width: 95%;
         height: auto;
        margin: 10px 0;
        padding: 15px;
    }

 .box img {
        width: 100%;
        height: auto;
    }

 .box-2 img {
        width: 100%;
         height: auto;
    }

 .box-3 img {
        width: 100%;
        height: auto;
    }

 .box>h3 {
        margin-left: 0;
         margin-top: 10px;
        text-align: right;
    }

 .box-2>h3 {
        margin-left: 0;
        margin-top: 10px;
        text-align: right;
    }

 .box-3>h3 {
        margin-left: 0;
        margin-top: 10px;
        text-align: right;
    }

 .box>p {
        font-size: 18px;
    }

 .box-2>p {
        font-size: 18px;
    }

 .box-3>p {
        font-size: 18px;
    }

 .box-4 {
        width: 90%;
         height: auto;
        margin-left: 0;
    }

  .box-4 img {
        width: 100%;
        height: auto;
    }

  button {
        width: 120px;
        font-size: 16px;
        margin: 20px auto;
        display: block;
    }

 .ftr-1 {
        margin-left: 0;
        justify-content: center;
         flex-direction: column;
        align-items: center;
    }

 h1 {
        font-size: 22px;
    }

 h4 {
        padding: 10px;
        text-align: center;
    }
}
@media (max-width: 992px) {

   
 nav{
        padding: 12px 20px;
        height: auto;
    }

 .nav-logo{
        justify-content: space-between;
        width: 100%;
    }

 form > input{
        width: 260px;
    }

  ul{
        margin-left: auto;
        gap: 15px;
    }

 li{
        margin-left: 0;
        width: auto;
        font-size: 17px;
    }
 .body{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
    }
 .container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
    }
 .container-2{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
    }

 .box{
        width: 45%;
        height: auto;
        margin: 10px 0;
    }
 .box-2{
        width: 45%;
        height: auto;
        margin: 10px 0;
    }
 .box-3{
        width: 45%;
        height: auto;
        margin: 10px 0;
    }

.box img{
        width: 100%;
        height: auto;
    }
 .box-2 img{
        width: 100%;
        height: auto;
    }
 .box-3 img{
        width: 100%;
        height: auto;
    }
 .box > h3{
        margin-left: auto;
        text-align: right;
        margin-top: 15px;
    } 
 .box-2 > h3{
        margin-left: auto;
        text-align: right;
        margin-top: 15px;
    } 
 .box-3 > h3{
        margin-left: auto;
        text-align: right;
        margin-top: 15px;
    } 
 .container-3{
        flex-wrap: wrap;
        justify-content: center;
    }
.box-4{
        width: 250px;
        height: auto;
        margin: 10px;
    }

.box-4 img{
        width: 100%;
        height: auto;
    }
 button{
        margin: 30px auto;
        display: block;
    }
 .ftr-1{
        margin-left: 0;
        justify-content: space-around;
        width: 100%;
    }
}
@media (max-width: 1200px) {
    nav{
        padding: 0 30px;
    }

    .nav-logo img{
        height: 45px;
        margin-top: 10px;
    }

    form > input{
        width: 380px;
    }

    ul{
        margin-left: 40px;
        gap: 25px;
    }

    li{
        margin-left: 20px;
        font-size: 18px;
    }
    .body{
        justify-content: space-around;
        padding: 10px;
    }
    .container{
        justify-content: space-around;
        padding: 10px;
    }
    .container-2{
        justify-content: space-around;
        padding: 10px;
    }

    
    .box{
        width: 420px;
        height: auto;
    }

    .box-2{
        width: 380px;
        height: auto;
    }

    .box-3{
        width: 420px;
        height: auto;
        margin-left: 0;
    }

    .box img{
        width: 100%;
        height: auto;
    }
    .box-2 img{
        width: 100%;
        height: auto;
    }
    .box-3 img{
        width: 100%;
        height: auto;
    }

    
    .box > h3{
        margin-left: auto;
        text-align: right;
    }
    .box-2 > h3{
        margin-left: auto;
        text-align: right;
    }
    .box-3 > h3{
        margin-left: auto;
        text-align: right;
    }

   
    .container-3{
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .box-4{
        width: 280px;
        height: auto;
    }

    .box-4 img{
        width: 100%;
        height: auto;
    }

    
    button{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    
    .ftr-1{
        margin-left: 0;
        justify-content: center;
        gap: 30px;
    }
}
